#whole{
    height: 22cm;
    width: 16cm;
    background-color: lime;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    background: linear-gradient(to bottom, rgb(217, 255, 0), lime);
}
h1{
    margin-top: 10%;
    padding-top: 40px;
    text-align: center;
}
#img{
    width: 250px;
    display: block;
    margin: 50px auto;

    border: 0px solid black;
    border-radius: 101%;
    background-color: lime;
}
#namediv{
    background-color: lightgreen;
    width: 10cm;
    height: 1cm;

    font-size: 150%;
    text-align: center;
    display: block;
    margin: 0 auto;

    border: 1px solid black;
    border-radius: 5px;
}
#nameinput{
    margin-top: 1%;
    font-size: 100%;
    background-color: lightgreen;
    border: 0px solid black;
}

#gradediv{
    background-color: lightgreen;
    font-size: 150%;
    text-align: center;
    border-radius: 5px;

    border: 2px solid black;
    width: 150px;
    position: relative;
    margin: 0 22%;
}
#gradeinput{
    font-size: 80%;
    width: 60px;
    margin-bottom: 0%;
    background-color: lightgreen;
    border: 0px solid black;
}

#sectiondiv{
    background-color: lightgreen;
    font-size: 150%;
    text-align: center;
    border-radius: 5px;

    border: 2px solid black;
    width: 150px;
    position: relative;
    top: -3.7%;
    left: 52%;
}
#sectioninput{
    font-size: 80%;
    width: 60px;
    margin-bottom: 1%;
    background-color: lightgreen;
    border: 0px solid black;
}

#subjectdiv{
    background-color: lightgreen;
    font-size: 150%;
    text-align: center;

    border-radius: 5px;
    border: 2px solid black;
    width: 200px;

    display: block;
    margin: 0 auto;

    position: relative;
    top: -1%;
}
#subjectinput{
    font-size: 80%;
    width: 100px;
    background-color: lightgreen;
    border: 0px solid black;
}
#acadyeardiv{
    background-color: lightgreen;
    font-size: 150%;
    text-align: center;

    border-radius: 5px;
    border: 2px solid black;
    width: 200px;

    display: block;
    margin: 0 auto;

    position: relative;
    top: -1%;
}
#acadyearinput{
    font-size: 80%;
    width: 80px;
    background-color: lightgreen;
    border: 0px solid black;
}

#pages{
    font-size: larger;
    margin-top: 10%;
}
